body {
    background-color: #F2D2BD;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    border-bottom: solid white 4px;
}

.body {
    display:flex;
    justify-content:space-around;
    margin-top: 30px;
}

.body-left {
    display: flex;
    flex-direction: column;
    width:60%;

}

.body-right {
    display:flex;
    flex-direction: column;
}

.word-input {
    display: flex;
}

.print-out {
    background-color: #E37383;
    margin-top:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color:black;
}

.vocab-list {
    display: flex;
    justify-content: space-between;
    width:70%;
    color: white;
}

